
*{
  font-family:'Times New Roman', Times, serif;
}.app{
  justify-content: center;
  justify-items: center;
}
.first-name {
  position: fixed;
  top: -40px;
  font-size: 13vw;
  z-index: -5;
  background: linear-gradient(to right, #d4bbf3, #be50f1);

  -webkit-background-clip: text;
  background-clip: text;

  color: transparent;
  
}